<div id="chart-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row text-center">
                                <div class="col">
                                    <label for="exampleFormControlSelect1">Selección
                                        de
                                        fecha</label>
                                </div>
                            </div>

                            <select class="form-control"
                                id="exampleFormControlSelect1">
                                <option>Enero de 2019</option>
                                <option>Febrero de 2019</option>
                                <option>Marzo de 2019</option>
                                <option>Abril de 2019</option>
                                <option>Mayo de 2019</option>
                                <option>Junio de 2019</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center container-indicators">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card cus-card card-pred">
                    <div class="card-body">
                        <span class="pred-value">
                            {{predValue | currency}}
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card cus-card card-real">
                    <div class="card-body">
                        <span class="real-value">
                            {{realValue | currency}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row container-chart-canvas">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        Valor de Venta
                        <div class="flex">
                            <div class="flex-item">
                                <div style="display: block;">
                                    <canvas baseChart width="200" height="80vh"
                                        [datasets]="lineChartData"
                                        [labels]="lineChartLabels"
                                        [options]="lineChartOptions"
                                        [colors]="lineChartColors"
                                        [legend]="lineChartLegend"
                                        [chartType]="lineChartType"
                                        [plugins]="lineChartPlugins"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
